<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a message</title>
</head>
<body>
    <%- include('navbar') -%>
    <h4>Add a message</h4>
    <form action="" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" class="form-control" name="title"  type="text">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input id="text" class="form-control" name="text" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add message</button>
    </form>
    <% if (typeof errors !== 'undefined') { %>
        <ul>
            <% for (const error of errors) { %>
                <li><%= error.msg %></li>
            <% } %>
        </ul>
    <% } %>
</body>
</html>