<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
</head>
<body>
    <h3>Sign up form</h3>
</body>
</html>